*{
    box-sizing: border-box;
    font-family: "Rubik Wet Paint", system-ui;
    font-style: normal;
}
body{
    background-image: url("fon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: Georgia;
}
header{
    background-color: rgba(0, 0, 0,0.9);
    color: rgb(112, 0, 0);
    position: sticky;
    top: 0;
    text-align: center;
}
footer{
    text-align: center;
    font-size: 25px;
    color: rgb(112, 0, 0);
}
hr{
    border-color: rgb(112, 0, 0);
}
.header__navigation{
    text-align: center;
}
a{
    color: rgb(112, 0, 0);
}
a:hover{
    color: white;
}
.catalog__name{
    color: rgb(112, 0, 0);
    text-align: center;
}
.catalog__items{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin-right: 30px;
}
.section__item{
    background-image: radial-gradient(circle, 
    rgb(194, 194, 194), 
    rgb(65, 58, 58), 
    rgb(0, 0, 0));
     color: black;
     margin: auto;
     margin-bottom: 20px;
     height: auto;
     border-radius: 20px;
     box-shadow: 4px 4px 6px black;
     display: inline-block;
     text-align: center;
}
.section__item--price{
    text-align: center;
    color: rgb(112, 1, 1);
}
.section__item:hover{
    background-image: radial-gradient(circle, 
   rgb(219, 219, 219), 
   rgb(87, 80, 80), 
   rgb(29, 29, 29));
}
.search{
    display: flex;
    justify-content: center;
    margin: auto;
    width: fit-content;
}
.search__pole{   
    border: 2px solid rgb(112, 0, 0); 
    border-radius: 5px; 
    background-color: rgb(49, 49, 49); 
    color: white;
}
.search__button{
    padding: 10px 20px; 
    background-color: rgb(112, 0, 0); 
    color: white; 
    border-radius: 5px;
    margin-left: 10px; 
}
.search__button:hover{
    background-color: rgb(146, 12, 12);
}
button{
    border: 0px;
    border-radius: 12px;
    color: white;
    margin: auto;
    text-align: justify;
    background-color: black;
}
button:hover{
    background-color: rgb(146, 12, 12);
}
@media screen and (max-width: 600px) {
    .header__logo{
        height: 30px;
    }
    .catalog__name, .header__navigation{
        font-size: 8px;
    }
    .search__pole{   
        width: 300px; 
        font-size: 8px;
    }
    .search__button{
        height: 15px;
        font-size: 8px;
        line-height: 1px;
    }
    .section__item{
        width: 120px;
        font-size: 8px;
    }
    .section__item--image{
        width: 70px;
        height: 70px;
    }
    button{
        height: 15px;
        font-size: 5px;
    }
    .footer__communication{
        font-size: 12px;
    }
    .footer__links{
        width: 20px;
        height: 20px;
    }
    .footer__links--razdelitel{
        font-size: 20px;
    }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
    .header__logo{
        height: 60px;
    }
    .catalog__name, .header__navigation{
        font-size: 15px;
    }
    .search__pole{   
        height: 30px;
        width: 500px; 
        font-size: 12px;
    }
    .search__button{
        height: 30px;
        font-size: 12px;
        line-height: 10px;
    }  
    .section__item{
        width: 150px;
        font-size: 10px;
    }
    .section__item--image{
        width: 120px;
        height: 120px;
    }
    button{
        height: 25px;
        font-size: 8px;
    }
    .footer__communication{
        font-size: 17px;
    }
    .footer__links{
        width: 25px;
        height: 25px;
    }
    .footer__links--razdelitel{
        font-size: 30px;
    }
}
@media screen and (min-width: 1000px){
    .catalog__name, .header__navigation{
        font-size: 30px;
    }
    .search__pole{   
        width: 500px; 
        font-size: 16px;
    }
    .search__button{
        font-size: 16px;
    }
    .section__item{
         width: 270px;
         font-size: 19px;
    }
    .section__item--image{
        width: 250px;
        height: 250px;
    }
    button{
        height: 40px;
        font-size: 16px;
    }
    .footer__communication{
        font-size: 25px;
    }
    .footer__links{
        width: 35px;
        height: 35px;
    }
    .footer__links--razdelitel{
        font-size: 45px;
    }
}